.header {
    align-items: center;
    color: black;
    font-weight: bold;
    height: 9.6rem;
}

.logo {
    width: 6.4rem;
    height: 6.4rem;
    cursor: pointer;
}

.logo-title {
    font-size: 3.2rem;
    margin-left: 2.4rem;
}
