.title {
    margin-bottom: 1.6rem;
}

.pokemon-list-header {
    display: flex;
    margin-bottom: 3.2rem;
    justify-content: space-between;
}

.search-bar-container {
    position: relative;
}

.search-bar {
    padding-left: 3.2rem;
}

.search-icon {
    width: 1.2rem;
    position: absolute;
    right: calc(100% - 2.4rem);
    bottom: calc(25% + 0.3rem);
}

@media (min-width: 1024px) {
    .search-bar {
        width: 28.8rem;
        height: 4.8rem;
        font-size: 1.6rem;
    }

    .search-icon {
        width: 1.6rem;
        bottom: calc(25% + 0.2rem);
    }
}
