.td-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.td-actions img {
    width: 2.4rem;
    height: 2.4rem;
}

.td-modify-actions {
    margin-right: 2rem;
}

@media (min-width: 1024px) {
    .td-modify-actions {
        margin-right: 4.8rem;
    }
}
