/* Global selectors */

:root {
    font-size: 62.5%;
    --accent-color: rgb(100, 90, 242);
    --dark-accent-color: rgb(65, 55, 210);
    background-color: rgb(249, 242, 242);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    gap: 0.8rem;
    width: 100%;
    height: 6.4rem;
    display: flex;
    align-items: center;
    padding-left: 2.4rem;
    margin-bottom: 3.2rem;
    background-color: rgb(156, 172, 188);
}

header > div {
    width: 1.6rem;
    height: 1.6rem;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: rgb(118, 130, 141);
}

p,
label {
    font-size: 1.6rem;
}

button {
    width: 9.6rem;
    height: 3.2rem;
    color: white;
    cursor: pointer;
    text-align: center;
    padding: 0.4rem 0.8rem;
    border-radius: 0.4rem;
    background-color: var(--accent-color);
}

button:hover {
    transition: 0.125s;
    background-color: var(--dark-accent-color);
}

input {
    width: 19.2rem;
    height: 3.2rem;
    font-size: 1.2rem;
    padding-left: 1.6rem;
    border-radius: 0.4rem;
    outline: 1px solid rgb(202, 207, 211);
}

input:focus {
    outline: 2px solid rgb(186, 87, 105);
}

input[type='range'] {
    width: 15.5rem;
    outline: none;
    cursor: pointer;
    accent-color: var(--accent-color);
}

table {
    width: 100%;
    margin-bottom: 1.6rem;
    background-color: white;
}

th,
td {
    padding: 1.2rem;
    font-size: 1.2rem !important;
    outline: 1px solid rgb(202, 207, 211);
}

td {
    padding: 0;
    height: 4.8rem;
    text-align: center;
}

td > a {
    width: 4.8rem;
    height: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(223, 230, 238);
}

td > a:hover {
    transition: 0.125s;
    background-color: rgb(211, 218, 224);
}

td img {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

/* Reusable classes */

.layout {
    padding: 0rem 5%;
}

@media (min-width: 1024px) {
    header {
        padding-left: 4.8rem;
    }

    header > div {
        width: 2.4rem;
        height: 2.4rem;
    }

    button {
        width: 14rem;
        height: 4.8rem;
        padding: 0rem 2rem;
    }

    input {
        width: 28.8rem;
        height: 4.8rem;
    }

    input[type='range'] {
        width: 25.6rem;
    }

    p,
    label {
        font-size: 2.4rem;
    }

    th,
    td {
        font-size: 2rem !important;
    }

    td > a {
        width: 6.4rem;
        height: 3.2rem;
    }

    .layout {
        padding: 0rem 10%;
    }
}
